<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: greenyellow;
            color: rebeccapurple;
        }
    </style>
</head>
<body>
    <h1>Consuming Third Party APIs Demo</h1><hr>
    <h2>Your Geographic Information</h2>
    <h3>Your IP address is:{{ip}}</h3>
    <h3>Your Continent Name is:{{continent_name}}</h3>
    <h3>Your Country Name is:{{country_name}}</h3>
    <h3>Your Region Name is:{{region_name}}</h3>
    <h3>Your City is:{{city}}</h3>
    <h3>Your Zip Code is:{{zip}}</h3>
    <h3>Your Latitiude is:{{latitude}}</h3>
    <h3>Your Longitude is:{{longitude}}</h3> 
</body>
</html>